.App {
  margin: 40px;
  background-color: #f4ac72;
  border-radius: 30px;
  padding: 20px;
  
}

header {
  text-align: center;
}

img.App-logo {

width: 800px;

}

footer {
  margin: 20px;
  text-align: center;
}