form {
    text-align: center;
}


input.search-bar{
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1)
}

h6 {
    text-align: center;
    margin: 10px;
}



